.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 20px;
  padding-block: 8px;
}

.logo__text {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.05em;
  word-wrap: break-word;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  list-style: none;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.05em;
}

.nav__link {
  color: var(--color-dark);
  font-weight: 600;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding-inline: 20px;
  padding-block: 12px;
  border-radius: 12px;
}

.nav__link:hover,
.nav__link:focus-visible,
.nav__link--active {
  color: var(--color-primary);
  background-color: var(--color-primary-10);
}

.nav__link--active {
  pointer-events: none;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
}

.burger__line {
  width: 24px;
  height: 2px;
  background-color: var(--color-dark);
}

.gifts__container {
  padding-block: 60px;
  padding-inline: 8px;
  text-align: center;
  color: var(--color-white);
}

.gifts__title {
  margin-bottom: 20px;
  max-width: 364px;
  margin-inline: auto;
}

.gifts__list {
  display: grid;
  grid-template-columns: 310px;
  justify-content: center;
  gap: 12px;
}

.gift-card {
  width: 310px;
}

.gift-card__button {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--color-bg-main);
  width: 100%;
  height: 100%;
}

.gift-card__button:hover .gift-card__title {
  color: var(--color-primary);
}

.gift-card__image {
  border-radius: 20px;
  height: 230px;
}

.gift-card__content {
  height: 112px;
  padding-top: 17px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: var(--color-white);
  text-align: left;
}

.gift-card__title {
  color: var(--color-dark);
  margin-top: 7px;
}

.gift-card__category {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: 0.05rem;
}

.gift-card__category--purple {
  color: var(--color-purple);
}

.gift-card__category--green {
  color: var(--color-green);
}

.gift-card__category--pink {
  color: var(--color-pink);
}

.footer__container {
  padding-block: 60px;
  padding-inline: 8px;
  max-width: 1440px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 60px;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 1;
  background-color: var(--color-bg-main);
  border-radius: 20px;
  padding-block: 20px;
}

.contact-card:hover .contact-card__value,
.contact-card:hover .contact-card__label {
  color: var(--color-primary);
}

.contact-card__icon {
  width: 80px;
  height: 80px;
}

.contact-card__value {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0.24rem;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.contact-card__label {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0.08rem;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.media {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}

.media__item {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  transition: color 0.3s ease;
}

.media__item:hover svg path {
  stroke: var(--color-primary);
}

.media__icon {
  width: 24px;
  height: 24px;
}

.footer__copyright {
  text-align: center;
  margin-bottom: 12px;
}

.footer__link {
  display: block;
  text-align: center;
  margin-inline: auto;
}

.footer__link:hover {
  color: var(--color-primary);
}

.scroll-top {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
}

/* ================= MAIN PAGE ================= */

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 235px;
  padding-inline: 30px;
  padding-block: 20px;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.05em;
  border-radius: 20px;
  background-color: var(--color-dark);
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.hero {
  text-align: center;
}

.hero__container {
  overflow: hidden;
  background: url(../assets/images/bg-ball.png) center center/cover no-repeat;
  padding-block: 60px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-block: 60px;
  width: clamp(364px, 29.5vw, 430px);
  margin-inline: auto;
  color: var(--color-white);
  word-wrap: none;
}

.hero__subtitle,
.hero__caption,
.about__subtitle,
.slider__subtitle,
.gifts__subtitle,
.cta__note,
.footer__link {
  font-family: var(--font-decor);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  word-wrap: break-word;
}

.hero__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.18em;
  word-wrap: break-word;
}

.about {
  padding-block: 60px;
  padding-inline: 8px;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  background-color: var(--color-white);
  border-radius: 20px;
}

.about__content {
  padding-inline: 20px;
}

.about__subtitle {
  color: var(--color-primary);
  font-weight: 600;
  padding-top: 60px;
  margin-bottom: 20px;
}

.about__title {
  margin-bottom: 20px;
}

.about__description {
  padding-bottom: 60px;
}

.about__image-wrapper {
  width: 100%;
  height: 100%;
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.slider__container {
  padding-inline: 8px;
  padding-block: 60px;
  overflow: hidden;
}

.slider__subtitle {
  color: var(--color-white);
  text-align: center;
  padding-bottom: 12px;
}

.slider__title {
  color: var(--color-white);
  text-align: center;
  padding-bottom: 20px;
}

.slider__content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

.slider__item {
  flex-shrink: 0;
}

.slider__item--text {
  font-size: 5rem;
  font-weight: 600;
  color: var(--color-white);
}

.slider__image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.slider__controls {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.slider__button {
  flex-shrink: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
  border: 1px solid var(--color-white);
  background: transparent;
  width: 56px;
  height: 56px;
}

.slider__button:hover {
  background-color: var(--color-white);
}

.slider__button:hover svg path {
  stroke: var(--color-primary);
}

.slider__button:disabled {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.gifts__subtitle {
  margin-bottom: 12px;
}

.cta {
  color: var(--color-white);
  text-align: center;
  padding-block: 180px;
  padding-inline: 8px;
  background: url(../assets/images/bg-forest.png) center bottom / cover no-repeat;
}

.cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 364px;
  margin-inline: auto;
}

.cta__button {
  margin-block: 20px;
}

.cta__note {
  margin-bottom: 8px;
}

.cta__countdown {
  display: flex;
  align-items: center;
  width: 344px;
  height: 72px;
  border-radius: 20px;
  background-color: var(--color-white-40);
}

.countdown__value {
  font-size: 1.5rem;
  font-weight: 600;
}

.countdown__label {
  font-size: 0.75rem;
  font-weight: 600;
}

.countdown__divider {
  height: 20px;
  width: 1px;
  background-color: var(--color-white)
}

.countdown__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 52px;
  margin-inline: auto;
}

/* ================= GIFTS PAGE ================= */

.gifts__container--decorated {
  min-height: 300px;
  background: url("../assets/images/bg-garland.png") top center / contain no-repeat;
}

.gifts-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  max-width: 354px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-inline: auto;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.03rem;
}

.gifts-menu__item {
  all: unset;
  border-radius: 12px;
  padding-block: 12px;
  padding-inline: 20px;
}

.gifts-menu__item:hover {
  background-color: var(--color-white-20);
}