.container {
  margin-inline: auto;
  width: 100%;
}

.header {
  min-height: 64px;
  background-color: var(--color-white);
  padding-block: 12px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0;
  max-width: 1440px;
}

.main {
  background-image: url(../assets/images/bg-snow.png);
  background-color: var(--color-primary);
  border-radius: 20px;
  max-width: 1440px;
  margin-inline: auto;
  width: 100%;
}

.footer {
  background-color: var(--color-white);
}