@media (min-width: 768px) {
  .about__container {
    grid-template-columns: 1fr 1fr;
  }
  
  .about__content {
    padding-inline: 60px;
    padding-block: 46px;
  }

  .gifts__container {
    padding-inline: 82px;
  }

  .gifts__list {
    grid-template-columns: repeat(2, 310px);
  }

  .cta__container {
    max-width: 426px;
  }
}

@media (min-width: 1024px) {
  .header__container {
    padding-inline: 82px;
  }

  .about {
    padding-inline: clamp(8px, 5.7vw, 82px);
  }

  .slider__container {
    padding-inline: 82px;
  }

  .cta {
    padding-inline: 82px;
  }

  .footer__container {
    padding-inline: 82px;
  }
  
  .footer__contacts {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .about__content {
    padding-right: 152px;
    padding-block: 100px;
  }

  .gifts__list {
    grid-template-columns: repeat(4, 310px);
  }
}