@media (min-width: 768px) {
  .lock {
    overflow: auto;
  } 

  .header__nav {
    position: static;
    transform: none;
    height: auto;
    width: auto;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    font-size: 0.75rem;
  }

  .burger {
    display: none;
  }

  .about__container {
    grid-template-columns: 1fr 1fr;
  }

  .about__content {
    padding-inline: 60px;
    padding-block: 46px;
  }

  .gifts__container {
    padding-inline: 82px;
  }

  .gifts__list {
    grid-template-columns: repeat(2, 310px);
  }

  .gifts-menu {
    max-width: 474px;
    margin-bottom: 20px;
  }

  .gifts__title {
    max-width: 426px;
  }

  .cta__container {
    max-width: 426px;
  }

  .scroll-top {
    display: none;
  }
}

@media (min-width: 1024px) {
  .header__container {
    padding-inline: 82px;
  }

  .about {
    padding-inline: clamp(8px, 5.7vw, 82px);
  }

  .slider__container {
    padding-inline: 82px;
  }

  .cta {
    padding-inline: 82px;
  }

  .footer__container {
    padding-inline: 82px;
  }

  .footer__contacts {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .about__content {
    padding-right: 152px;
    padding-block: 100px;
  }

  .gifts__list {
    grid-template-columns: repeat(4, 310px);
  }
}